<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 목록보기</title>
</head>
<body>
    <h2>책리스트</h2>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>책번호</th>
                <th>책이름</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td><a href="BookDetail.html" th:href="@{/book/BookDetail/{bookId}(bookId=${book.id})}" th:text="${book.id}">책번호</a></td>
                <td><a href="BookDetail.html" th:href="@{|/book/BookDetail/${book.id}|}" th:text="${book.bookName}">책이름</a></td>
                <td th:text=${book.price}>10000</td>
                <td th:text="${book.quantity}">10</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 th:if="${param.status}" th:text="'책 수정 완료!'"></h2>

</body>
</html>