<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head th:replace="fragments/header::header">
    <title></title>
</head>
<body>


<div class="container signUp-container">
    <div class="signUp-body align-items-center justify-content-center card border-0 shadow-lg ">
        <div class="text-center">
            <h2 class="h4 text-gray-900 mb-4 font-weight-bolder">아이디/비밀번호찾기</h2>
        </div>
        <div class="area">
                <h5>아이디 및 비밀번호 찾기를 위한 메일이 발송되었습니다.</h5>
                <p> 아이디와 임시 비밀번호가 담긴 메일을 보내드렸습니다.</p>
                <p>보내드린 메일에 있는 인증번호와 새로운 비밀번호를 입력해주세요</p>
        </div>

        <form class="user" id="user" name="user" action="finFindIdAndPw" th:object="${resetPasswordForm}" method="post" >

            <!--            <div th:if="${#fields.hasGlobalErrors()}">-->
            <!--                <p th:each="err: ${#fields.globalErrors()}" th:text="${err}">글로벌 오류메시지</p>-->
            <!--            </div>-->
            <div class="form-group">
                <div>
                        <label>사용자아이디
                            <input type="text" name="userId"  th:value="${resetPasswordForm.userId}" th:field="*{userId}" th:errorclass="field-error" placeholder="아이디" readonly>
                        </label>
<!--                    <div class="field-error" th:errors="*{userId}">-->
<!--                        아이디오류-->
<!--                    </div>-->
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label>새 비밀번호
                        <input type="password" name="password" th:field="*{newPassword}" th:errorclass="field-error" class="em" placeholder="최소6자이상"/>
                    </label>
                    <div class="field-error" th:errors="*{newPassword}">
                        비밀번호오류
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label>비밀번호확인
                        <input type="password" name="passwordCheck" th:field="*{newPasswordCheck}" th:errorclass="field-error"
                                class="em"/>
                    </label>
                    <div class="field-error" th:errors="*{newPasswordCheck}">
                        비밀번호확인 오류
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label>이메일 인증번호
                        <input type="text" name="authNumber" th:field="*{mailAuthNumber}" th:errorclass="field-error"
                                class="em"/>
                    </label>
                    <div class="field-error" th:errors="*{mailAuthNumber}">
                        이메일 인증오류
                    </div>
                </div>
            </div>


            <div class="form-group">
                <button type="submit">비밀번호 재설정</button>
            </div>
            <div class="control-group" style="margin-top:20px;">
                <div class="controls">
                    <button type="button" class="btn" onclick="window.location.href='/'">메인 페이지로 돌아가기</button>
                </div>
            </div>
        </form>

    </div>
</div>




</body>
</html>