<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="area">
    <h5>아이디 및 비밀번호 찾기를 위한 메일이 발송되었습니다.</h5>
    <p>dudwls0505@naver.com 으로 아이디와 임시 비밀번호가 담긴 메일을 보내드렸습니다.</p>
    <p>보내드린 메일에 있는 링크를 클릭하면 임시 비밀번호 설정을 위한 화면으로 넘어가게 됩니다.</p>
    <div class="control-group" style="margin-top:20px;">
        <div class="controls">
            <button type="button" class="btn" onclick="window.location.href='/'">메인 페이지로 돌아가기</button>
        </div>
    </div>
</div>

</body>
</html>