<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div>
    <h2>메인</h2>
        <div>
            <h3 th:text="|로그인: ${member.userId}|">로그인한 ID</h3>
        </div>
    <button onclick="location.href='/file/upload'" type="submit">파일업로드</button>
    <button onclick="location.href='/book/controlBook'" type="submit">책 관리</button>

    <form th:action="logout" method="post">
        <button onclick="location.href='index.html'" type="submit">로그아웃</button>
        </form>
</div>
</body>
</html>