<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org" lang="kr">
<head th:replace="fragments/header::header">
    <title></title>

</head>

<body>
<nav th:replace="fragments/notLoginNav :: nav"></nav>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light" id="mainNav">
</nav>


<div th:replace="fragments/bodyHeader :: header"></div>


<form th:object="${bookSearch}" method="get" action="bookSearch">
    <!--    <input type="text" th:field="*{BookName}" placeholder="찾고싶은 도서를 검색해보세요">-->
    <div id="searchContainer">
        <input id="searchBar" type="text" placeholder="도서를 검색해보세요">
        <button id="searchButton">
            <i class="fas fa-search fa-lg"></i>
            &nbsp;&nbsp;
            검색
        </button>
    </div>

</form>



<!-- <button type="submit">검색</button>
<button th:onclick="|location.href='@{/book/bookSearch/}'|" type="button"></button> -->


    <article>

        <br/><br/>

        <section>
            <article>
                <div id="container">

                    <div id="portfolio"></div>

                    <ul id="portfolio-item">
                        // 조회순
                        <li><img src="images/토비의스프링.jpg" alt="정형일"/></li>
                        <li><img src="images/jpabook.jpg" alt="김영곤"/></li>
                        <li><img src="images/realmysql.jpg" alt="오일권"/></li>
                        <li><img src="images/factofobject.jpg" alt="정기혁"/></li>
                        <li><img src="images/pirates_teaser.jpeg" alt="정형일"/></li>
                        <li><img src="/images/rustler_teaser.jpeg" alt="정형일"/></li>
                        <li><img src="/images/satellite_teaser.jpeg" alt="정형일"/></li>
                        <li><img src="/images/werewolf_teaser.jpeg" alt="정형일"/></li>


                        // 최신순
                        <li><img src="/images/box_socks_teaser.jpeg" alt="Box Socks"/></li>
                        <li><img src="/images/capt_kidd_teaser.jpeg" alt="Capt Kidd"/></li>
                        <li><img src="/images/bat_bedtime_teaser.jpeg" alt="Bat Bedtime"/></li>
                        <li><img src="/images/grrr_teaser.jpeg" alt="Grrr"/></li>
                        <li><img src="/images/eensy_teaser.jpeg" alt="Eensy"/></li>
                        <li><img src="/images/derby_lady_teaser.jpeg" alt="Derby Lady"/></li>
                        <li><img src="/images/carrot_teaser.jpeg" alt="Carrot"/></li>
                        <li><img src="/images/brush_teaser.jpeg" alt="Brush"/></li>


                    </ul>
                    <nav id="navigation">
                        <a href="#1" class="nav selected" data-page="1"><font size="5px"
                                                                              face="'Nanum Gothic', sans-serif"
                                                                              color="black">조회순</font></a>
                        <a href="#2" class="nav" data-page="2"><font size="5px" face="'Nanum Gothic', sans-serif"
                                                                     color="black">최신순</font></a>

                    </nav>

                </div>

                <!-- <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.7.2.min.js"%3E%3C/script%3E'))</script>
                <script> if (!Modernizr.csstransforms3d) document.getElementById('information').style.display = 'block'; </script>
                <script src="js/demo.js"></script> -->


                <br/><br/>

                <hr style="border: solid 1px #BDBDBD; width: 77%; margin: 0px auto;">
            </article>

            <div class="row">
                <form action="Jjim" th:action="Jjim" th:object="${study}" method="post">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FZTiwa%2FbtrndrBl0sd%2F338v4OK9lv6086z4liGjV0%2Fimg.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <input type="hidden" th:value="${study.studyId}" th:field="*{studyId}">
                            <h5 class="card-title"  th:value="${study.name}" th:field="*{name}">토비의스프링 스터디원 모집합니다</h5>
                            <a th:onclick="|location.href=`@{/study/studyInfo/{studyId}(studyId=${study.studyId})}`|"  class="btn btn-primary">스터디 상세보기</a>
                            <button class="Jjim-study-btn" type="submit">스터디 찜하기</button>
                        </div>
                    </div>
                </div>
                </form>

                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>


                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>


            </div>

            <article>
                <!--판매완료-->
                <br/><br/>
                <div id="Exchangecomplet">
                    <font size="20px" face="'Nanum Gothic', sans-serif"
                          color="black"><strong>모집중인 스터디</strong></font><br/><br/><br/>
                    <ul>
                        <li>
                            <p><img src="images\factofobject.jpg" style="float:left"/><br>

                                <font size="6px" face="'Nanum Gothic', sans-serif" color="black">
                                    <strong>객체지향의 사실과 오해 스터디구합니다</strong>
                                </font><br/>
                                <font size="4px" face="'Nanum Gothic', sans-serif" color="black">
                                    안녕하세요 책을 완독하기위해 스터디를 개설하게되었습니다 ................
                                </font>
                            </p>
                            <br style="clear:both"/>
                        </li>
                        <li>
                            <p><img src="images\토비의스프링.jpg" style="float:left"/><br>

                                <font size="6px" face="'Nanum Gothic', sans-serif" color="black">
                                    <strong>토비의 스프링</strong>
                                </font><br/>
                                <font size="4px" face="'Nanum Gothic', sans-serif" color="black">
                                    안녕하세요 책을 완독하기위해 스터디를 개설하게되었습니다
                                </font>
                            </p>
                            <br style="clear:both"/>
                        </li>
                    </ul>

                    <br/>
                    <hr style="border: solid 1px #BDBDBD; width: 100%; margin: 0px auto;">
                    <br/><br/>

                    <!--후기-->
                    <font size="20px" face="'Nanum Gothic', sans-serif"
                          color="black"><strong>후기</strong></font><br/><br/>
                    <ul>
                        <li>
                            <p><br>
                                <img src="images\dozer_teaser.jpeg" style="float:right"/><br/>
                                <font size="6px" face="'Nanum Gothic', sans-serif" color="black">
                                    <strong>ex</strong></font><br/>
                                <font size="4px" face="'Nanum Gothic', sans-serif" color="black">
                                   ex
                                </font>
                            </p>
                            <br style="clear:both"/>
                        </li>
                        <li>
                            <p><br>
                                <img src="images\dozer_teaser.jpeg" style="float:right"/><br/>
                                <font size="6px" face="'Nanum Gothic', sans-serif" color="black">
                                    <strong>ex</strong><br/>
                                </font>
                                <font size="4px" face="'Nanum Gothic', sans-serif" color="black">
                                   ex
                                </font>
                            </p>
                            <br style="clear:both"/>
                        </li>
                    </ul>

                </div>

            </article>
        </section>
    </article>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>