<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="git.demo.mapper.BookMapper">

    <resultMap id="BookDTO" type="git.demo.domain.book.Book">
        <result property="id" column="id"/>
        <result property="bookName" column="name"/>
        <result property="price" column="price"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <insert id="insertBook" parameterType="git.demo.domain.book.Book">
        INSERT INTO BOOK(id,name,price,quantity)
        VALUES(#{id}, #{bookName}, #{price},#{quantity})
    </insert>

    <select id="findBookById" parameterType="Long" resultMap="BookDTO">
        SELECT * FROM BOOK
        WHERE id=#{bookId}
    </select>

    <select id="findBookByName" parameterType="String" resultMap="BookDTO">
        SELECT * FROM BOOK
        WHERE name=#{bookName}
    </select>

    <select id="findAllBook" resultMap="BookDTO">
        SELECT * FROM BOOK
    </select>

    <update id="updateBook" >
        UPDATE BOOK SET NAME = #{bookName}, price=#{price}, quantity=#{quantity} WHERE ID=#{id}
    </update>

    <delete id="deleteBook">
        DELETE FROM BOOK WHERE ID=#{bookId}
    </delete>



</mapper>